@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #2c0427;
    color: hsl(308, 83%, 86%);
    font-size: 24px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
}
h1{
    font-size: 64px;
    font-weight: 200;
}
    h1 span{
        color: hsl(308, 100%, 90%);
        font-weight: 600;
        /* text-shadow: 0px 0px 1px #f9e2e2; */
    }

h2{
    color: white;
    font-weight: 200;
}

