@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: "Figtree", sans-serif;
    color: #202630;
}

header{
    background-color: #5B86E5;
}
    header div{
        width: 1100px;
        height: 104px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
        header div nav a{
            color: #fff;
            font-size: 20px;
            text-decoration: none;
            padding: 8px;
        }

main{
    min-height: 700px;
}
/* sección hero - banner */
#hero{
    /*
    * Created with https://www.css-gradient.com
    * Gradient link: https://www.css-gradient.com/?c1=5b86e5&c2=37d2dc&gt=l&gd=dtt
    */
    background: #5B86E5;
    background: linear-gradient(180deg, #5B86E5, #37D2DC);
}

    #hero div{
        width: 1100px;
        height: 680px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
        #hero div article{
            width: 550px;
            color: #fff;
        }

            #hero div article h1{                
                font-size: 24px;
                font-weight: 400;
                margin-bottom: 40px;
            }
            #hero div article h2{                
                font-size: 40px;
                width: 478px;
            }
/* sección servicios */
    #servicios{
        width: 1100px;
        margin: 72px auto;
        padding: 32px 24px;
        display: flex; 
        flex-wrap: wrap;
        justify-content: space-between;
    }
        h3{
            width: 100%;
            margin-bottom: 32px;
            font-size: 24px;
            font-weight: 400;
            text-align: center;
        }
        #servicios article{
            width: 336px;
            padding: 24px 28px;
            border: 2px solid #07B2FF;
            border-radius: 8px;
            color: #07B2FF;
        }
            #servicios article h2{
                font-weight: 300;
                margin: 24px 0 16px 0;
            }

            #servicios article p{
                margin-bottom: 8px;
            }
            #servicios article a{
                color: #07B2FF;
                text-decoration: none;
            }

/* sección portfolio */
#portfolio{
    width: 1100px;
    margin: auto;
    margin-top: 72px;
    background-color: #b0ecf46f;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 32px;
}
    #portfolio h3{
        margin: 0;
    }
    #portfolio article{
        width: 340px;
        height: 340px;
    }

    #portfolio-1{
        background-image: url(../imgs/portfolio-1.png);
    }
    #portfolio-2{
        background-image: url(../imgs/portfolio-2.png);
    }
    #portfolio-3{
        background-image: url(../imgs/portfolio-3.png);
    }
    #portfolio-4{
        background-image: url(../imgs/portfolio-4.png);
    }
    #portfolio-5{
        background-image: url(../imgs/portfolio-5.png);
    }
    #portfolio-6{
        background-image: url(../imgs/portfolio-6.png);
    }


footer{
    background-color: #0B1E46;
}
    footer div{
        width: 1100px;
        height: 216px;
        margin: auto;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    footer div nav a{
        margin: 16px;
    }